<div>
  <h2>{{selectedSwitch.title}}</h2> {{i18n 'by'}} {{selectedSwitch.author_id}}
  <div>{{selectedSwitch.content}}</div>
  <input type="button" id="backbutton" value="{{i18n 'Back'}}" onclick="window.location.href='#switches'">
</div>