<div>
  {{#if user.isLogged}}
  <div id="switches-table">
    {{#if switches.length}}
      <table border="1">
        <thead>
        <tr>
          <th>{{i18n 'Switch Name'}}</th>
          <th>{{i18n 'Public UUID'}}</th>
          <th>{{i18n 'User Alias'}}</th>
          <th>{{i18n 'State'}}</th>
          <th>{{i18n 'Actions'}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each switches}}
          <tr fronty-component="SwitchComponent" key="{{id}}" model="switches[{{@index}}]" id="item-{{id}}"></tr>
          <td>{{SwitchName}}</td>
          <td>{{Public_UUID}}</td>
          <td>{{AliasUser}}</td>
          <td>
            <button class="state-button" item={{State}}>{{State}}</button>
          </td>
          <td>
            <button class="remove-button" item={{Public_UUID}}>{{i18n 'remove'}} </button>
          </td>
        {{/each}}
      </tbody>
      </table>
    {{/if}}
    <a href='#add-switch' id="addSwitch">{{i18n 'Add switch'}}</a>
  </div>
  <div id="suscribers-table">
  {{#if switchesSuscribe.length}}
    <table border="1">
      <thead>
        <tr>
          <th>{{i18n 'Switch Name'}}</th>
          <th>{{i18n 'Public UUID'}}</th>
          <th>{{i18n 'Alias Owner'}}</th>
          <th>{{i18n 'Time'}}</th>
          <th>{{i18n 'Actions'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each switchesSuscribe}}
          <tr fronty-component="SwitchRowComponent" key="{{id}}" model="switchesSuscribe[{{@index}}]" id="item-{{id}}"></tr>
          <td>{{SwitchName}}</td>
          <td>{{Public_UUID}}</td>
          <td>{{AliasUser}}</td>
          <td>{{LastTimePowerOn}}</td>
          <td>
            <button class="desSubscribe-button" item={{Public_UUID}}>{{i18n 'desuscribe'}} </button>
          </td>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No hay switches suscritos.</p>
  {{/if}}
</div>
 {{/if}}
</div>