<div>
  {{#if isLogged}}
    {{i18n 'Hello'}} {{currentUser}}
    <input type="button" id='logoutbutton' value="{{i18n 'logout'}}"></input>
  {{else}}
    <a id="loginbar" href='#login'>{{i18n 'Login'}}</a>
  {{/if}}
  {{i18n 'Search Switch'}}
      <input type="text" id="searchCont"></input>
      <input type="button" id='searchbutton' value="-" onclick=window.location.href='#view-switch'></input>
</div>